.about {
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem;
}

.about-aboutus {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.about-header {
  color: gold;
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.about-p {
  color: white;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
  margin: 2rem 0;
}

.custom-button {
  background-color: rgb(250, 250, 100);
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-fork {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

.about-fork img {
  width: 150px;
}

.about-history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

@media screen and (max-width: 1150px) {
  .about {
    flex-direction: column;
  }
}
