.header {
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 6rem;
  color: white;
}

.header-text {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.custom-header {
  color: gold;
  font-size: 70px;
  letter-spacing: 3px;
  line-height: 100px;
}

.header-p {
  line-height: 28px;
  margin: 2rem 0;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.header-image img {
  width: 600px;
}

@media screen and (max-width: 1150px) {
  .header {
    flex-direction: column;
  }

  .header-image {
    margin-top: 4rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .header-image img {
    width: 500px;
  }
}

@media screen and (max-width: 650px) {
  .header-text {
    align-items: center;
    text-align: center;
  }

  .header-image img {
    width: 300px;
  }
}
