@import url("https://fonts.googleapis.com/css2?family=Exo&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
}

.custom-heading {
  color: #ffef00;
  font-size: 64px;
  font-family: "Exo", sans-serif;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.custom-button {
  background-color: rgb(250, 250, 100);
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
